<div class="upload-sheet">
  <div class="excel-form">
    <%= form_tag({:action => :upload_excel}, method: :post,  :multipart => true) do %>
      <%= file_field_tag 'user_sheet', required: true %>
      <button type="submit" class="btn btn-success">Upload sheet</button>
    <% end %>
  </div>
  <% if @response.present? %>
    <div class="response-data">
      <div class="column card">
        Total User rows in sheet: <%= @response[:total_user]%>
        <br/>
        saved Users: <%= @response[:saved_user_count]%>
        <br/>
        Failed Users Count: <%= @response[:failed_user_count]%>
      </div>
      Error In Rows:
      <br/>
      <% @response[:errors].each do|er| %>
        ROW : <%= er[:row] %>,
        Sheet Name: <%= er[:sheet_name] %>,
        Total Errors In Row:
        <% er[:errrors].each do|er| %>
          <%= "#{er.type.to_s} " " #{er.attribute.to_s}" %>
        <% end %>
        <br/>
      <% end %>
    </div>
  <% end %>
  <% if @errors.present? %>
   <%= @errors %>
  <% end %>
</div>