<div class="upload-sheet">
  <%= form_tag({:action => :upload_excel}, method: :post,  :multipart => true) do %>
    <%= file_field_tag 'user_sheet' %>
    <button type="submit" class="btn btn-primary">Primary</button>
  <% end %>

  <% if @response.present? %>
  <div class="column card">

    Total User rows in sheet: <%= @response[:total_user]%>
    saved Users: <%= @response[:saved_user_count]%>
    Failed Users Count: <%= @response[:failed_user_count]%>
  </div>
    Error In Rows:
    <% @response[:errors].each do|er|%>
      row : <%= er[:row]%>
      sheet Name: sheet Name
      total errors 
      <% er[:errrors].each do|er|%>
        <%= "#{er.type.to_s}" "#{er.attribute.to_s}"%>
      <% byebug%>
      <%end%>
      <br/>
    <% end %>
  <% end%>
</div>